h1, h2 {
  font-family: 'Roboto', serif;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: .5em;
  font-weight: 200;
}

h1  {
  color: #eaeaea;
  font-size: 15em;
}

h2  {
  color: red;
  font-size: 5em;
}


body{
  background-color: #8a94a3;
}
